body {
    height: 90vh;
    font-family: Helvetica, sans-serif;
}

#modal {
    border:hsla(0, 0%, 0%, 0.15) solid 1px;
    border-radius: 0.35rem;
    width:50%;
    height:80%;
    min-width: 450px;
    padding:20px 35px;
}
#modal-wrapper {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#targets {
    width:100%;
    height: 70px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.target-button, .nav-button {
    border-radius: 0.25rem;
    background: white;
    color:#575e75;
    font-weight: 600;
    border: 1px solid hsla(0, 0%, 0%, 0.15);
    font-size: 0.85rem;
    padding: 0.75rem 1rem;
    margin-right: 0.5rem;
    transition: 0.3s;
}
.target-button:hover, .nav-button:hover {
    cursor: pointer;
}
.target-button.active, .nav-button.active {
    border: hsla(215, 100%, 65%, 1);
    background: hsla(215, 100%, 65%, 1);
    color: white;
}
.target-button:disabled {
    color:#575e7569;
    border: 1px solid hsla(0, 0%, 0%, 0.062);
}

#input-wrapper {
    height:50px;
    width:100%;
    display: flex;
    align-items: center;
}
input[type='text'] {
    padding: 0 16px;
    height: 46px;
    width: 90%;
    font-size: 13px;
    box-shadow: none;
    border-radius: 5px;
    background-color: var(--darkWww-input, #fafafa);
    color: var(--darkWww-input-text, #575e75);
    border: 1px solid var(--darkWww-border, rgba(0, 0, 0, 0.1));
    transition: 0.3s;
}
input[type='text']:focus {
    background-color: white;
    border:hsla(215, 100%, 65%, 1) solid 2px;
    outline:rgba(77, 151, 255, 0.233) solid 3px;
}

#scripts > div {
    height: calc(100% - 200px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#warning {
    padding:20px;
    position: relative;
    left:-10px;
    bottom:70px;
    width:500px;
    border: #ffb2236b solid 1px;
    border-radius: 0.25rem;
    background-color: #ffe3ae;
    color:#ffc456;
    display: flex;
    flex-direction: row;
}
#warning > i {
    padding-right: 10px;
}

#dynamic {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#modal-nav-wrapper {
    width:50%;
    position: absolute;
    display: flex;
    justify-content: right;
    top:77%;
}